img.pic {
  max-width:20%;
  border-radius:50%;
}

h5 {
  margin-bottom: -14px;
  font-size: 100%;
}

p {
  margin-bottom: -12px;
  font-size: 90%;
}

.left, .right {
  float: left;
  padding-right: 25px;
}

.left {
  width: 300px;
}
